* {
    margin: 0;
    padding: 0;
    font-family: Montserrat Regular;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/ai-shopping.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

.logo {
    width: 120px;
    cursor: pointer;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 11px;
}

/*.navbar ul li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: black;
}*/

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: aliceblue;
}

.content h1 {
    font-size: 50px;
}

.content p {
    margin: 20px;
}

section button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    margin: 20px 15px;
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;

}

#Listings {
    margin: auto;
    display: flex;
    width: 1128px;
    padding: 80px 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px 24px;
    flex-wrap: wrap;

    .offersLable {

        display: flex;
        width: 1126px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }

    .lable {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    h3 {
        text-align: center;
        font-size: 15px;
        margin: 0;
        padding-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(108, 108, 108);
        font-style: italic;
    }

    .card {
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);

            .oppo {
                width: 160px;
                height: 200px;
            }
    }

    img {
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        display: block;

    }

    p {
        text-align: center;
        color: #b2bec3;
        padding-top: 0 8px;
    }

    h6 {
        font-size: 20px;
        text-align: center;
        color: #222f3e;
        margin: 0;
    }

    button {
        background-color: black;
        border-radius: 5px;
    }

}